__pycache__/
dev.db
migrations/
horairesflaskapp/__pycache__/
horairesflaskapp/board/__pycache__/
horairesflaskapp/public/__pycache__/
horairesflaskapp/screen/__pycache__/
horairesflaskapp/stations_transilien/__pycache__/
horairesflaskapp/user/__pycache__/
proj_python_env/
.idea/

