
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="height:250px;">

  <h1>Ne ratez plus votre tchoutchouc</h1>
  <p>Programmez ici vos arrêts favoris à afficher sur votre tchoutchouc</p>

</div><!-- /.jumbotron -->

<div class="body-content">




  <div class="row">
    <div class="col-lg-6">
      <img src="{{url_for('static', filename='images/clipart-train-transparent-2.png')}}" width="500" height="150" />
    </div>
    <!--
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default">Official website &raquo;</a></p>
    </div>-->
    <div class="col-lg-3">
      <h3><i class="fa fa-edit"></i>Connection</h3>

      <form id="loginForm" method="POST"  action="/" role="login">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        {{ form.username(placeholder="Nom d'utilisateur", class_="form-control") }}
        {{ form.password(placeholder="Mot de passe", class_="form-control") }}
      </div>
      <button type="submit" class="btn btn-default">Connection</button>
    </form>

    </div>
    <div class="col-lg-3">
      <h3><i class="fa fa-edit"></i>Nouvel arrivant?</h3>
      <p><a href="{{ url_for('public.register') }}" class="btn btn-primary">Enregistrement</a></p>


    </div>

  </div><!-- /.row -->
</div>
{% endblock %}

